

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1692712662497-1 {top: 400px; left: 240px; height: 140px; width: 306px;
        }
        .silex-id-1692712538242-0 {top: 0px; left: 40px; height: 460px; width: 480px;
        }
        .silex-id-1692712711120-2 {top: 400px; left: 0px; height: 140px; width: 240px; box-sizing: content-box; padding: 0px; overflow: visible;
        }
        .silex-id-1692712752566-3 > label {font-size: 10px;
        }
        .silex-id-1692712752566-3 {top: 320px; left: 260px; height: 20px; width: 60px;
        }
        .silex-id-1692712845000-4 {top: 340px; left: 260px; height: 20px; width: 60px;
        }
        .silex-id-1692712845000-4 > label {font-size: 10px;
        }
        .silex-id-1692712892633-5 {top: 360px; left: 260px; height: 20px; width: 60px;
        }
        .silex-id-1692712892633-5 > label {font-size: 10px;
        }
        .silex-id-1692712962633-6 > label {font-size: 10px;
        }
        .silex-id-1692713041787-7 > label {font-size: 10px;
        }
        .silex-id-1692713071742-8 > label {font-size: 10px;
        }
        .silex-id-1692713116258-9 > label {font-size: 10px;
        }
        .silex-id-1692713181328-10 > label {font-size: 10px;
        }
        .silex-id-1692713260970-11 > label {font-size: 10px;
        }
        .silex-id-1692713116258-9 {top: 110px; left: 50px; height: 20px; width: 60px;
        }
        .silex-id-1692713181328-10 {top: 130px; left: 50px; height: 20px; width: 60px;
        }
        .silex-id-1692713260970-11 {top: 170px; left: 50px; height: 20px; width: 60px;
        }
        .silex-id-1692713369678-12 {top: 80px; left: 260px; height: 20px; width: 60px;
        }
        .silex-id-1692713369678-12 > label {font-size: 10px;
        }
        .silex-id-1692713491152-13 {top: 100px; left: 260px; height: 20px; width: 60px;
        }
        .silex-id-1692713491152-13 > label {font-size: 10px;
        }
        .silex-id-1692713552714-14 {top: 120px; left: 260px; height: 20px; width: 60px;
        }
        .silex-id-1692713552714-14 > label {font-size: 10px;
        }
        .silex-id-1692713728886-15 > label {font-size: 10px;
        }
        .silex-id-1692713728886-15 {top: 260px; left: 400px; height: 20px; width: 60px;
        }
        .silex-id-1692713787080-16 {top: 280px; left: 400px; height: 20px; width: 60px;
        }
        .silex-id-1692713787080-16 > label {font-size: 10px;
        }
        .silex-id-1692713834743-17 {top: 300px; left: 400px; height: 20px; width: 60px;
        }
        .silex-id-1692713834743-17 > label {font-size: 10px;
        }
        .silex-id-1692713893970-18 > label {font-size: 10px;
        }
        .silex-id-1692713984863-19 > label {font-size: 10px;
        }
        .silex-id-1692714022530-20 > label {font-size: 10px;
        }
        .silex-id-1692713893970-18 {top: 270px; left: 60px; height: 20px; width: 80px;
        }
        .silex-id-1692713984863-19 {top: 290px; left: 60px; height: 20px; width: 80px;
        }
        .silex-id-1692714022530-20 {top: 310px; left: 60px; height: 10px; width: 100px;
        }
        .silex-id-1692714119125-21 > label {font-size: 10px;
        }
        .silex-id-1692714119125-21 {top: 80px; left: 120px; height: 30px; width: 140px;
        }
        .silex-id-1692714182701-22 > label {font-size: 10px;
        }
        .silex-id-1692714182701-22 {top: 100px; left: 140px; height: 40px; width: 120px;
        }
        .silex-id-1692714221160-23 > label {font-size: 10px;
        }
        .silex-id-1692714301149-24 > label {font-size: 10px;
        }
        .silex-id-1692714355511-25 > label {font-size: 10px;
        }
        .silex-id-1692714407640-26 > label {font-size: 10px;
        }
        .silex-id-1692713071742-8 {top: 180px; left: 410px; height: 20px; width: 60px;
        }
        .silex-id-1692713041787-7 {top: 150px; left: 440px; height: 20px; width: 60px;
        }
        .silex-id-1692712962633-6 {top: 130px; left: 460px; height: 20px; width: 60px;
        }
        .silex-id-1692714301149-24 {top: 90px; left: 340px; height: 20px; width: 60px;
        }
        .silex-id-1692714355511-25 {top: 110px; left: 350px; height: 20px; width: 150px;
        }
        .silex-id-1692714407640-26 {top: 130px; left: 360px; height: 20px; width: 80px;
        }
        .silex-id-1692714557234-27 {top: 300px; left: 180px; height: 20px; width: 80px;
        }
        .silex-id-1692714557234-27 > label {font-size: 10px;
        }
        .silex-id-1692714597622-28 > label {font-size: 10px;
        }
        .silex-id-1692714640193-29 {top: 340px; left: 140px; height: 20px; width: 80px;
        }
        .silex-id-1692714640193-29 > label {font-size: 10px;
        }
        .silex-id-1692714597622-28 {top: 320px; left: 160px; height: 20px; width: 80px;
        }
        .silex-id-1692714696647-31 > label {font-size: 10px;
        }
        .silex-id-1692714696647-31 {top: 310px; left: 330px; height: 20px; width: 80px;
        }
        .silex-id-1692714741990-32 {top: 330px; left: 340px; height: 20px; width: 80px;
        }
        .silex-id-1692714741990-32 > label {font-size: 10px;
        }
        .silex-id-1692714780046-33 > label {font-size: 10px;
        }
        .silex-id-1692714780046-33 {top: 350px; left: 350px; height: 20px; width: 110px;
        }
        .silex-id-1692714852191-34 > label {font-size: 10px;
        }
        .silex-id-1692714910002-35 > label {font-size: 10px;
        }
        .silex-id-1692714969191-36 > label {font-size: 10px;
        }
        .silex-id-1692715031163-37 > label {font-size: 10px;
        }
        .silex-id-1692715096227-38 > label {font-size: 10px;
        }
        .silex-id-1692715136284-39 > label {font-size: 10px;
        }
        .silex-id-1692715136284-39 {top: 250px; left: 470px; height: 20px; width: 110px;
        }
        .silex-id-1692714910002-35 {top: 220px; left: 20px; height: 20px; width: 110px;
        }
        .silex-id-1692714852191-34 {top: 200px; left: 0px; height: 20px; width: 110px;
        }
        .silex-id-1692714969191-36 {top: 240px; left: 40px; height: 20px; width: 110px;
        }
        .silex-id-1692715096227-38 {top: 230px; left: 411px; height: 20px; width: 110px;
        }
        .silex-id-1692715031163-37 {top: 210px; left: 440px; height: 20px; width: 110px;
        }
        .silex-id-1692714221160-23 {top: 120px; left: 160px; height: 40px; width: 80px;
        }
    